.white-description .ant-steps-item-description {
  color: white !important;
  font-weight: 300;
}
.white-description .ant-steps-item-title {
  color: white !important;
  font-weight: 400;
}

.dark-card .ant-card-body {
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;

  /* gradients/metal */
  background: #000;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
